@import './variables.less';

.focus-init(){
  outline:none;
}

.input-style(@border-color) {
  border: 1px solid @border-color;
}

.option-style(@font-color;@background-color){
  background: @background-color;
  color: @font-color;
}

.placeholder(@color: @input-color-placeholder) {
  // &::placeholder{
  //   font-size: 14px;
  //   // line-height: 28px;
  // }
  &::-moz-placeholder {
    color: @color;
    opacity: 1;
    font-size: 14px;
    // line-height: 28px;
  }
  &:-ms-input-placeholder {
    color: @color;
    font-size: 14px;
    // line-height: 28px;
  }
  &::-webkit-input-placeholder {
    color: @color;
    font-size: 14px;
    // line-height: 28px;
  }
}

.createGrid(){
  .col(@index) when (@index =< 10){
   // .table-col-1,2,3,4,5
    .table-col-@{index}{
      // td,th{
      //   width: 100% / @index;
      // }
    }
    .col(@index+1);
  }
  .col(1)
}

.createGrid();